[paths]
source =
   src/sqlalchemy_recipe
   */site-packages/sqlalchemy_recipe

[run]
branch = true
source =
    sqlalchemy_recipe
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
